
div.search-div {
  text-align: center;

  label.search-label {
    width: 3px;
  }
}

.warn {
  color: red;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 96%;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 16px;
}
