<!--Composant modifié-->

<div class="search-div"  >

    <input class="form-control mr-sm-2"
           matInput
           #searchBar
           type="text"
           [value]="searchValue"
           placeholder="Rechercher..."
           (keyup)="onChange($event.target)"
           aria-label="Search"
    >


</div>
<!--
<div class="search-div" *ngIf="!hideSearchBar" >

    <input class="form-control mr-sm-2"
           matInput
           #searchBar
           type="text"
           [value]="searchValue"
           placeholder="Entrez votre recherche"
           (keyup)="onChange($event.target)"
           aria-label="Search"
    >


</div>

<div class="search-div" *ngIf="hideSearchBar" >

    <input class="form-control mr-sm-2"
           matInput
           #searchBar
           type="text"
           [value]="searchValue"
           placeholder="Rechercher par Categorie"
           (keyup)="onChange($event.target)"
           aria-label="Search"
           disabled="disabled"
           style="background-color: #a5a5a5"
    >
</div>
-->
