.btn-div {
  display: flex;
}
#test {
  display: contents;
}

::ng-deep #close{
  position: absolute;
  left: 70%;
  z-index: 1;
}

.example-card {
  width: 11.5vw;
  height: 35vh;
  border-radius: 13px;
  border-style: hidden;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
::ng-deep .mat-dialog-container{
  border:solid 2px blue;
  width: 90vw;
  height: 95vh;
  padding: -1px;
}


.row {
  margin-left: 2.3vw;
}
::ng-deep .mat-card {
  margin-left: 20px;
}
.title{
  background: #72a9ff;
  border-radius: 13px;
}
.title h2 {
  margin-top: -10px;
  text-align: center;
  font-size: 2.8vh;
}
#photo {
  display: block;
  margin: auto;
  width: 12vw;
  height: 12vh;
  border-radius: 13px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
}

#photo{
  z-index:2;
  width:28vh;
  height:inherit;
  overflow:hidden;
  position:relative;
  border-radius:50%;
  border:5px solid #fff;
  transform:scale(1.0);
  box-shadow:0 0 2px, 0 5px 5px rgba(47,66,81,.75);
  transition:transform .5s ease-in-out 0s;
}

.titreColonne {
  font-weight: bold;
  height: 4vh;
  font-size: 1.5vh;
  text-align: center;
}

.custom-control-label {
  font-weight: normal;
  font-size: 1.5vh;
}

.list-group-item:last-child {
  border-radius: 13px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 5vh;
  width: 9vw;
}

.list-group-item:first-child {
  border-radius: 13px;
}

#ingredient-base{
  top: 5%;
  left: 5%;
  width: 12vw;
  display: table-cell;
}

.btn-danger {
  margin-right: 15px;
}

#ingredient-supp{
  position: relative;
  top: 5%;
  left: 4%;
  max-width: 30vw;
  display: table-cell;
}
#typePate{
  position: relative;
  top: 5%;
  left: 8%;
  max-width: 30vw;
  display: table-cell;
}
.app-amount{
  margin-right: 150px;
}
#boutonCommande {
  float: right;
}
.form-check-label {
  margin-left: 1vw;
  margin-bottom: 2vh;
  font-size: 0.85vw;
}
.form-check {
  margin-left: -2vw;
  font-size: 1.5vh;
}
.cancel-btn {
  margin-right: 10px;
}

#listcheck{
  height: 22vh;
  width: 9.5vw;
}

.amount-btn {
  border-radius: 100px;
}

.amount-div {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.average-div {
  display: flex;
}
