<!--Composant modifié-->

<div class="milieuPage">




    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Recapitulatif commande</th>
            <th scope="col"></th>
        </tr>
        </thead>


        <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Pizza</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
    </tr>
    </thead>
        <tbody>
        <tr *ngFor="let ingredient of _basket.getFoods()">
            <th scope="row">1</th>
            <td>{{ingredient.product.nom}}</td>
            <td>{{ingredient.amount}}</td>
            <td>{{ingredient.product.prix}}€</td>
        </tr>
        </tbody>

        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Film</th>
            <th scope="col">Photo</th>
            <th scope="col">Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{_basket.getMovie().title}}</td>
            <td><img  src="https://image.tmdb.org/t/p/w400{{_basket.getMovie().poster_path}}" style="width: 20px;"></td>
            <td>{{_basket.getMovie().prix}}€</td>
        </tr>
        </tbody>


        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Prix total</th>
            <th scope="col">{{_basket.getTotalPrice()}}€</th>
        </tr>
        </thead>

    </table>
</div>
