<!--
<div  class="rate"  > &lt;!&ndash;*ngIf="activeMenu"&ndash;&gt;
        <input type="radio" id="star5" name="rate" value="5"  (click)="rating(5)" />
        <label for="star5" title="5 stars">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" (click)="rating(4)"/>
        <label for="star4" title="4 stars">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" (click)="rating(3)"/>
        <label for="star3" title="3 stars">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" (click)="rating(2)"/>
        <label for="star2" title="2 stars">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" (click)="rating(1)"/>
        <label for="star1" title="1 star">1 star</label>
</div>
-->
<!--Composant modifié-->

<div class="container">
        <div class="row">
                <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" (click)="rating(9)"/><label for="star5" title="9">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" (click)="rating(8)"/><label for="star4" title="8">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" (click)="rating(6)"/><label for="star3" title="6">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" (click)="rating(4)"/><label for="star2" title="4">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" (click)="rating(2)"/><label for="star1" title="2">1 star</label>
                </div>
        </div>
</div>
