
#titreCinema {
  color: #0066FF;
  font-size: 25px;

}

.spanText {
  color: white;
}

.custom-control.custom-checkbox{
  color : white;
}


.spacer {
  flex: 1 1 auto;
  background-color: #cccccc;
}

.sticky{
  position: fixed;
  width: 150px;
}


body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 150px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
h4, h5, h6 {
  margin-top: -22px;
  margin-bottom: 10px;
}

.radio {
  color: white;
}
