<!--Composant modifié-->

<button  class="btn btn-outline-success amount-btn"  (click)="decrease()">
  -
</button>
{{amount}}
<button  class="btn btn-outline-success amount-btn" id="test" (click)="increase()">
    +
</button>
