<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Sidebar -->
<div class="bg-dark border-right sticky" id="sidebar-wrapper">
  <span id="titreCinema" (click)="goToHomepage()">MenuCinema </span>
  <div class="list-group list-group-flush">
    <span class="spacer"></span>
    <button mat-button style="background-color: transparent; border-color: transparent" (click)="goToProfile()">
      <mat-icon class="align-middle" style="color: #cecece">person</mat-icon>
      <span style="color: #cecece" class="spanText align-middle">  Profil</span>
    </button>
    <button mat-button style="background-color: transparent; border-color: transparent" (click)="signOut()">
      <mat-icon class="align-middle" style="color: #cecece">power_settings_new</mat-icon>
      <span style="color: #cecece" class="spanText align-middle">  Se déconnecter</span>
    </button>
    <app-basket></app-basket>
  </div>
</div>
