<!--Composant modifié-->
<!-- INFO MOVIE-->
<mat-dialog-content id="test">
    <button mat-button mat-dialog-close id="close">X</button>

    <div *ngIf="movie != undefined" class="movieContent">
  <!--BACKGROUND IMAGE-->
  <img
          id="custom_bg"
          *ngIf="movie && movie.backdrop_path"
          [src]="getBackDropPath()"
  >

    <img
          class="posterImg"
          [src]="getPosterPath()"
          alt="poster"
  >

  <div class="info-txt">
                <span class="movie-title">{{movie.title}} <span class="DOB">({{movie.release_date | date:"yyyy"}})</span>
                    <br/>
                    <span class="DOB" *ngIf="movie.tagline">"{{movie.tagline}}"</span>
                     <br/>
                    <span *ngFor="let genre of movie.genres; index as i" class="genre_tile ">
                        {{genre.name}}
                      <br *ngIf="(i+1)%5 == 0">
                </span>

                    <star-rating
                            class="DOB "
                            [starType]="'svg'"
                            [labelText]="'Score MovieDB'"
                            [readOnly]="true"
                            [rating]="movie.vote_average / 2">
                      </star-rating>
                  <!-- <h2 class="mat-h2 overview-title">Synopsis</h2> -->
                <p class="overview-text">{{movie.overview}}</p>

                </span>
  </div>
  <button *ngIf="!basketService.getExistMovie()" class="add-button " (click)="addToCart(movie)" mat-button>
    <mat-icon>shopping_cart</mat-icon>
    Choisir ce film
  </button>
  <iframe
          width="600"
          height="400"
          [src] = "safeUrl"
          class="trailer"
          allowfullscreen
  >
  </iframe>
</div>

<div *ngIf="movie === undefined">
  <h1>404 - Movie not found</h1>
</div>
</mat-dialog-content>
