
#test {
  display: contents;
}

::ng-deep #close{
  position: absolute;
  left: 88%;
  z-index: 1;
}

::ng-deep.mat-dialog-container{
  width: 80vw;
  height: 60vh;
  padding: 0;
  background-color: white;
  box-shadow: 10px 10px;
}

.movieContent {
  width: 80vw;
  height: 60vh;
  position: relative;
}

//image
.posterImg {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15vw;
  height: 40vh;
}

//info text:
.info-txt{
  position: relative;
  top: 5%;
  left: 24%;
  max-width: 30vw;

}

//movie Title

.movie-title {
  font-weight: bold;
  font-size: 300%;
  position: absolute;

}
.DOB {
  font-size: 50%;
  font-weight: normal;
}

//CATEGORIES


.genre_tile {
  padding: 5px 9px;
  font-weight: bold;
  color: #eee;
  background-color: #7b57b8;
  border-radius: 20px;
  font-size: 12px;
}

//overview text

.overview-text {
  text-align: justify;
  font-size: 12px;
  font-weight:lighter;
  overflow: auto;
  max-height: 20vh;
}
//TRAILER

.trailer{
  position: absolute;
  top: 5%;
  right: 0%;
  width: 30vw;
  height: 50vh;
}

//choisir button

.add-button {
  background-color: #e4b03c;
  position: absolute;
  top: 78%;
  left: 7%;
  width: 12vw;
}


#custom_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
}

