<!-- new code: -->


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--<app-nav-bar-movie></app-nav-bar-movie>-->
<body>
<div class="container-fluid" >
    <div class="row">
        <div class="gallery" style="position: absolute; top:105px;" (click)="upTopScroll()">
            <div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
            </div>
            <!--Test pour fabien-->
            <!-- <app-selection-product></app-selection-product>

            ****** module pour les pizza    ***** -->
             <figure class="col col-lg-4 col-sm-6" *ngFor="let movie of allMoviestest" >
                 <div class="figure-obj">
<!--                <a href="/movie/{{movie.id}}"><img src="https://image.tmdb.org/t/p/w400{{movie.poster_path}}" alt="" /></a>-->

                     <img (click)="openDialog(movie.id)" src="https://image.tmdb.org/t/p/w400{{movie.poster_path}}" alt="" />
                     <button class="btn" (click)="addToCart(movie)"><i class="fa fa-cart-arrow-down"></i></button>
                     <button class="btni" (click)="openDialog(movie.id)" ><i class="fa fa-info-circle" ></i></button>
                     <p id="ratingGrade">Rating: {{movie.vote_average}}</p>
                     <!--star component is a module and the size is in pixels so we can't make it responsive
                     we will replace it by the normal worldwide rating
                     <star-rating
                                class="star-rating"
                                [starType]="'svg'"
                                [labelText]=""
                                [readOnly]="true"
                                [rating]="movie.vote_average / 2">
                        </star-rating>
                        -->
                 </div>

             </figure>
        </div>
    </div>
</div>




</body>


