.picture {
  width: 100px;
  height: 100px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid black;
}
.form-group{
  //line-height: 2;
}
.name{
  font-size: 2em;
  vertical-align: middle;
}
.client_id{
  color: grey;
  font-size: 0.5em;
}
.invalid-addr{
  width: max-content;
}

.main-div {
  margin-top: 10px;
}
