<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
  <li class="nav-item">
    <p class="custom-control" style="color: #0066FF" >Filtre par catégorie</p><br>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="checkAction" (click)="action()">
      <label class="custom-control-label" for="checkAction">Action</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="chekComedie" (click)="comedie()">
      <label class="custom-control-label" for="chekComedie">Comédie</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="checkAventure" (click)="aventure()">
      <label class="custom-control-label" for="checkAventure">Aventure</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="checkHorreur" (click)="horreur()">
      <label class="custom-control-label" for="checkHorreur">Horreur</label>
      <br><br><br>
    </div>
  </li>
</ul>
