<!--Composant modifié-->
<div class="basket-div">

    <h4 id="titleBasket" >Votre Panier: </h4>

    <!--MOVIES-->
    <div *ngIf="basket.movies.length">
        <div *ngFor="let movie of basket.movies; index as i" class="filmBasket">
            <h4 style="color:#a5a5a5;">Film : <span class="filmPrice">{{movie.prix}} €</span></h4>

            <p class="movieName" (click)="goToMoviePage(movie.id)">{{movie.title}}</p>
            <button mat-button (click)="removeMovie(i)" class="deleteFilm"> <!-- pertinent ?? -->
                <mat-icon>delete</mat-icon>
            </button>
            <img  src="https://image.tmdb.org/t/p/w400{{movie.poster_path}}" (click)="goToMoviePage(movie.id)" style="width: 60px; margin-left: -62px;">
        </div>
    </div>


<!--FOOD si panier sup a 2 avec scrollbar-->
<div class="foodBasket" *ngIf="basket.foodGroups.length > 2">
    <h4 style="color:#a5a5a5;">Nourritures :</h4>
    <div class="inner">
    <ng-container  *ngFor="let foodGroup of basket.foodGroups; index as i">
        <div class="aPizza">
        <div id="name"><span>{{foodService.productToFood(foodGroup.product).nom}}</span></div>
        <div id="prix"><span style="color:#a5a5a5;">{{foodService.productToFood(foodGroup.product).prix}}€</span></div>
        <app-amount-buttons
                    [(amount)]="foodGroup.amount"
                    (amountChange)="amountChange()"
                        id="apmount">
        </app-amount-buttons>
            <button mat-button (click)="removeFoodGroup(i)" id="dltFood">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </ng-container>
    </div>
</div>


    <!--FOOD si panier inf a 3 avec scrollbar-->
    <div class="foodBasket" *ngIf="basket.foodGroups.length < 3">
        <h4 style="color:#a5a5a5;">Pizza :</h4>
            <ng-container  *ngFor="let foodGroup of basket.foodGroups; index as i">
                <div class="aPizza">
                    <div id="nameo"><span>{{foodService.productToFood(foodGroup.product).nom}}</span></div>
                    <div id="prixo"><span style="color:#a5a5a5;">{{foodService.productToFood(foodGroup.product).prix}}€</span></div>
                    <app-amount-buttons
                            [(amount)]="foodGroup.amount"
                            (amountChange)="amountChange()"
                            id="apmounto">
                    </app-amount-buttons>
                    <button mat-button (click)="removeFoodGroup(i)" id="dltFoodo">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </ng-container>
    </div>








    <!--TOTAL-->
    <div style="position: absolute; top: 76vh">
    <h3>Total : {{basket.total}} €</h3>
    <button mat-button id="suppBasket" (click)="clearBasket()">
        <mat-icon>delete_forever</mat-icon> <span class="TextPanier">Supprimer la totalité du panier</span>
    </button>
        <br>
        <button class="btn btn-success" id="validation"(click)="submitBasket()"> Valider mon panier</button>

</div>
</div>
