

<!-- header when page is film -->
<div style="position: absolute; left: 200px">
    <mat-horizontal-stepper #stepper  [linear]=true [selectedIndex]="indexSelect">
        <mat-step>
            <ng-template matStepLabel >
                <p>Choisir un film</p>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Choisir les pizza</ng-template>
        </mat-step>
        <mat-step (select)="true" disableRipple="true">
            <ng-template matStepLabel>
                <p>Passer la commande</p>
            </ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</div>
