#stepper{
  margin-top:10px;
  width: 100vw;
  margin-left: 13vw;
}
#nav {
  display: block;
}

.row {
  width: 55vw;
  margin:auto;
}

.validate {
  color: green;
  background-color: white;
}
#test {
}
.validate img{
  color: green;
  content:url(../../assets/images/valid.png);

}
.warn {
  margin-bottom: -14px;
  color: red;
  background-color: white;
}

.warn img{
  color: red;
}
