<div class="container" id="stepper">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified thumbnail" id="nav">
        <!-- Stepper FILM-->
        <li  class="active" *ngIf="!getExistFilm()"><a (click)="getExistFilm()"><!-- si le film n'est pas encore choisi-->
          <h4 class="list-group-item-heading" > <img src="../../assets/images/play-in-film-strip.png" height="24" width="24"/></h4>
          <p class="list-group-item-text">Choisir un film</p>
        </a></li>

        <li *ngIf="!getExistFilm() && getErrorFood()"><a> <!-- si le film n'est pas encore choisi et que l'user click-->
          <h4 class="list-group-item-heading"><img src="../../assets/images/pizza.png" height="24" width="24"/></h4>
          <p class="list-group-item-text">Choisir un plat</p>
          <p class="warn">* Vous devez d'abord choisir un film</p>
        </a></li>

        <li *ngIf="!getExistFilm() && !getErrorFood() && !getExistFoods()" (click)="setErrorFood()"><a> <!-- si le film n'est pas encore choisi et que l'user click-->
          <h4 class="list-group-item-heading"><img src="../../assets/images/pizza.png" height="24" width="24"/></h4>
          <p class="list-group-item-text">Choisir un plat</p>
        </a></li>

        <li class="validate" *ngIf="!getExistFilm() && !getErrorFood() && getExistFoods()" (click)="setErrorFood()"><a><!-- si le film n'est pas encore choisi et que l'user a déjà la pizza-->
          <h4 class="list-group-item-heading"><img src="../../assets/images/pizza.png" height="24" width="24"/></h4>
          <p class="list-group-item-text">Choisir un plat</p>
        </a></li>

        <li  *ngIf="!getExistFilm()&&!getErrorFood()"><a (click)="setErrorFood()"><!-- si le film n'est pas encore choisi et que l'user click-->
          <h4 class="list-group-item-heading"><img src="../../assets/images/speech-bubble.png" height="24" width="24"/>
          </h4>
          <p class="list-group-item-text">Valider la commande</p>
        </a></li>
        <li  *ngIf="!getExistFilm()&&getErrorFood()"><a><!-- si le film n'est pas encore choisi et que l'user a clické-->
          <h4 class="list-group-item-heading"><img src="../../assets/images/speech-bubble.png" height="24" width="24"/>
          </h4>
          <p class="list-group-item-text">Valider la commande</p>
          <p class="warn">* Vous devez d'abord choisir un film</p>
        </a></li>

        <!--FIN  Stepper FILM-->




        <!-- Stepper Pizza-->
        <li class="validate" *ngIf="getExistFilm() && !getFinish()"><a (click)="removeMovie()">
          <h4 class="list-group-item-heading"><img src="../../assets/images/play-in-film-strip.png" height="24"
                                                   width="24"/></h4>
          <p class="list-group-item-text">Choisir un film</p>
        </a></li>

        <li *ngIf="getExistFilm() && !getFinish()" class="active"><a (click)="getExistFoods()">
          <h4 class="list-group-item-heading"><img src="../../assets/images/pizza.png" height="24" width="24"/></h4>
          <p class="list-group-item-text">Choisir un plat</p>
        </a></li>

        <li *ngIf="getExistFilm() && !getExistFoods()&&!getErrorFood() && !getFinish()" (click)="setErrorFood()"><a>
          <h4 class="list-group-item-heading"><img src="../../assets/images/speech-bubble.png" height="24" width="24"/>
          </h4>
          <p class="list-group-item-text">Valider la commande</p>
        </a></li>
        <li *ngIf="getExistFilm() && !getExistFoods()&&getErrorFood() && !getFinish()"><a>
          <h4 class="list-group-item-heading"><img src="../../assets/images/speech-bubble.png" height="24" width="24"/>
          </h4>
          <p class="list-group-item-text">Valider la commande</p>
          <p class="warn">* veuillez choisir une pizza</p>
        </a></li>
        <li *ngIf="getExistFilm() && getExistFoods() && !getFinish()" (click)="validBasket()"><a>
          <h4 class="list-group-item-heading"><img src="../../assets/images/speech-bubble.png" height="24" width="24"/>
          </h4>
          <p class="list-group-item-text">Valider la commande</p>
        </a></li>
        <!--FIN  Stepper Pizza-->




        <!-- Stepper final-->
        <li class="validate" *ngIf="getExistFilm() && getExistFoods() && getFinish()"><a (click)="removeMovie()">
          <h4 class="list-group-item-heading"><img src="../../assets/images/play-in-film-strip.png" height="24"
                                                   width="24"/></h4>
          <p class="list-group-item-text">Choisir un film</p>
        </a></li>

        <li class="validate" *ngIf="getExistFilm() && getExistFoods() && getFinish()" ><a (click)="modFoods()">
          <h4 class="list-group-item-heading"><img src="../../assets/images/pizza.png" height="24" width="24"/></h4>
          <p class="list-group-item-text">Choisir un plat</p>
        </a></li>
        <li class="active" *ngIf="getExistFilm() && getExistFoods() && getFinish()"><a>
          <h4 class="list-group-item-heading"><img src="../../assets/images/speech-bubble.png" height="24" width="24"/>
          </h4>
          <p class="list-group-item-text">Valider la commande</p>
        </a></li>

        <!--FIN  Stepper final-->




      </ul>
    </div>
  </div>
</div>
