<!--Composant modifié-->
<mat-card-title (click)="openDialog()">
    <img src="{{food.photo}}">

</mat-card-title>
<mat-card-header id="titleFood">{{food.nom}}</mat-card-header>
<mat-card-subtitle>{{food.prix}} €</mat-card-subtitle>
<div class="cardDescription">
    <mat-card-content (click)="openDialog()">
    <p>
        {{food.description}}
    </p>
</mat-card-content>
</div>
<mat-card-actions>


    <button type="button" class="btn btn-xs btn-primary" id="btnPerso"(click)="openDialog()">Personnaliser</button>
    <button type="button" class="btn btn-xs btn-primary" id="btnBuy"(click)="onValid()">Ajouter</button>

</mat-card-actions>

