<!--modif fabien-->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>






<body>
<div class="container-fluid" >
    <div class="row">
        <div class="gallery" style="position: absolute; top:90px;">
            <!--Test pour fabien-->
            <!-- <app-selection-product></app-selection-product>

            ****** module pour les pizza    ***** -->
<!--            <figure class="col col-lg-4 col-sm-6" *ngFor="let product of foods" >-->
            <div class="multiCard" *ngFor="let product of foods"npm start>
                <mat-card class="card1" >
                    <app-food  [food]="product"
                               [product]="product"
                               [eventType]="eventType"></app-food>
                </mat-card>
            </div>
            <!--</figure>-->
        </div>
    </div>
</div>
</body>

