
 <!-- INFO MOVIE-->
        <div *ngIf="movie != undefined" class="movieContent">
            <!--BACKGROUND IMAGE-->
            <img
                    id="custom_bg"
                    *ngIf="movie && movie.backdrop_path"
                    [src]="getBackDropPath()"
            >
                    <img
                            class="posterImg"
                            [src]="getPosterPath()"
                            alt="poster"
                    >

            <div class="info-txt">
                <span class="movie-title">{{movie.title}} <span class="DOB">({{movie.release_date | date:"yyyy"}})</span>
                    <br/>
                    <span class="DOB" *ngIf="movie.tagline">"{{movie.tagline}}"</span>
                     <br/>
                    <span *ngFor="let genre of movie.genres; index as i" class="genre_tile ">
                        {{genre.name}}
                        <br *ngIf="(i+1)%5 == 0">
                </span>

                    <star-rating
                            class="DOB "
                             [starType]="'svg'"
                             [labelText]="'Score MovieDB'"
                             [readOnly]="true"
                             [rating]="movie.vote_average / 2">
                      </star-rating>
               <!-- <h2 class="mat-h2 overview-title">Synopsis</h2> -->
                <p class="overview-text">{{movie.overview}}</p>

                </span>
            </div>

            <!--    <span *ngIf="movie.adult" class="adult_tile genre_tile">Adult</span>-->
                   <!-- not to show because we are selling movies!
                    <a
                            *ngIf="movie.imdb_id"
                            class="info out_link"
                            href="https://www.imdb.com/title/{{movie.imdb_id}}"
                            target="_blank"
                    > IMDB
                        <mat-icon class="nd-18">open_in_new</mat-icon>
                    </a>
                    <a
                            *ngIf="movie.homepage"
                            class="info out_link"
                            href="{{movie.homepage}}"
                            target="_blank"
                    > Officiel
                        <mat-icon>open_in_new</mat-icon>
                    </a>
                    -->



<!--
                    <div *ngIf="movieClass != null" class="review-div">
                        <app-review-list [product]="movieClass"></app-review-list>
                    </div>-->
                    <button class="add-button" (click)="addToCart()" mat-button>
                        <mat-icon>shopping_cart</mat-icon>
                        Choisir ce film
                    </button>
                <iframe
                        width="600"
                        height="400"
                        [src] = "safeUrl"
                        class="trailer"
                >
                </iframe>
            </div>




    <!-- useless
        <div class="panier col-xs-12 col-lg-2">
            <app-basket></app-basket>
        </div>
        -->
    <!--
    <div class="row">
        <app-cast-table
                class="col-xs-12 col-lg-6"
                *ngIf="castNCrew && castNCrew.cast"
                [castArray]="castNCrew.cast"
        ></app-cast-table>
        <app-crew-table
                class="col-xs-12 col-lg-6"
                *ngIf="castNCrew && castNCrew.crew"
                [crewArray]="castNCrew.crew"
        ></app-crew-table>
    </div>
    -->



<div *ngIf="movie === undefined">
    <h1>404 - Movie not found</h1>
</div>
<app-recommandation class="recommandation-div" *ngIf="movie.id !== undefined" [productId]="movie.id"
                    [givenType]="getGivenType()" [searchType]="getSearchType()"></app-recommandation>
