.movieContent {
  top: 10%;
  left: 10%;
  width: 80vw;
  height: 60vh;
  margin: 0;
  position: relative;
}

//image
.posterImg {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15vw;
  height: 40vh;
}

//info text:
.info-txt{
  position: relative;
  top: 5%;
  left: 24%;
  max-width: 30vw;

}

//movie Title

.movie-title {
  font-weight: bold;
  font-size: 300%;
  position: absolute;

}
.DOB {
  font-size: 50%;
  font-weight: normal;
}

//CATEGORIES


.genre_tile {
  padding: 5px 9px;
  font-weight: bold;
  color: #eee;
  background-color: #7b57b8;
  border-radius: 20px;
  font-size: 12px;
}

//overview text

.overview-text {
  text-align: justify;
  font-size: 12px;
  font-weight:lighter;
  overflow: auto;
  max-height: 20vh;
}
//TRAILER

.trailer{
  position: absolute;
  top: 5%;
  right: 0%;
  width: 30vw;
  height: 50vh;
}

//choisir button

.add-button {
  background-color: #e4b03c;
  position: absolute;
  top: 78%;
  left: 7%;
  width: 12vw;
}


#custom_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  top: -10px
}



/*
.movie-desc .info-movie{
  width: 20vw;
  height: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;

}

.movie-desc .poster_img {
  height: 70%;
  width: auto;
  position: absolute;
  top: 5%;
}
 */
/*
.poster_img {
  margin: auto;
  height: auto;
  width: auto;
}*/

/*
.movie-title {
  font-weight: bold;
  font-size: 300%;
}

p.overview-text {
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

h2.overview-title {
  margin-left: 50%;
}



.genre_tile {
  padding: 5px 9px;
  font-weight: bold;
  color: #eee;
  background-color: #7b57b8;
  border-radius: 20px;
}

.movie_info {
  width: 78%;
  left: 7px;
  vertical-align: top;
  position: relative;
  display: inline-block;
}

.movie-infos-div {
  display: flex;
}
.trailer{
  float:right;
}

.adult_tile {
  background-color: deeppink;
}

.release_tile {
  background-color: cornflowerblue;
}

.tagline {
  max-width: initial;
  overflow: auto;
  font-size: 1.2em;
}

.out_link:hover {
  cursor: pointer;
}

.out_link {
  vertical-align: middle;
  font-size: 0.8em;
  text-decoration: none;
}

star-rating {
  display: block;
  width: max-content;
}

.info {
  margin: 5px;
}

.add-button {
  background-color: #e4b03c;
}

.panier {
}

#custom_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  top: -10px
}

.page {
  margin-bottom: 50px;
}

.recommandation-div {
  text-align: center;
}

*/
